.User-notification {
    background-color: rgba(29, 28, 26, 0.6);
    font-family: kikia;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    gap:20%;



}
.User-notification h3{
    color: blanchedalmond;
    margin-left: 15%;
}
.User-notification .box {
    position: relative;
    min-width: 40%;
    height: 90%;
    margin: 1% 3%;

}

.User-notification .box .list {
    position: relative;

    height: 10%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
    marker-start: 2% 1%;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;

}
.holly{
    position:relative;
    margin : 0 0 0 50%;
}

.User-notification .box .list .imgBx img{

    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;

}


.friendship
{
    width: 50%;
    margin: 0 0 0 50%;
}
.Gaming
{
    width: 50%;
}

.list{
    position:relative;
    width: 100%;
    height: 100%;
    align-items: center;justify-content: center;

     
      scroll-behavior: smooth;
      overflow-y: auto;
      overflow-x: hidden;
      list-style: none;
      z-index: 0;
  

    
  }
 .User-notification .com1-
  {
    width:10%;
    height: 70%;
    margin: 2% 5% 5% 5%;
    display: flex;
    place-items: center;
    rotate: 45deg;
    overflow: hidden;
    box-shadow: inset 0 0 10px black, 0 0 10px black;
    filter: drop-shadow(0 0 10px var(--color0)) saturate(1);
  }

 .User-notification .com1- .th1- {
    inline-size: 100%;
    block-size: 100%;
    overflow: hidden;
  }
 .User-notification .com1- .th1- img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    rotate: -45deg;
    scale: 1.2;
  }

  .list .Userfriend-{
    position:relative;
    display:flex;
    height : 100%;
    width:100%;
    padding:1%;
    border-radius: 10px;
    margin: 1.5% 10% 0% 14.5%;
    transition: 0.5s;
    overflow: hidden;
    background:rgba(32, 90, 216, 0.5);

  }

 .User-notification .FrContent-
  {
    font-family: 'Kikia';
    font-size: 12px;
    display: flex;
    flex-direction: row;

  }

 .User-notification .FrContent- p
  {
    font-size: 15px;
    margin-left: 5%;
  }
 .User-notification .FrContent- img{
    margin-top: 10%;
    margin-left: 12%;
    width:25px;
    height: 25px;
  }


  .list .users li{
    width: 70%;
    height: inherit;
  }
  .list .users{
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;

  }
  .list .users .owner-dots{
    position: relative;
    width: 0%;
    height: inherit;
    display: flex;
    flex-direction: row;
    margin: 5.5% 0 0 -8%;

  }

  
  .list:hover .Userfriend-{
    box-shadow: -10px 20px 35px rgba(0,0,0,0.15);
    transform: scale(1.15);
    filter: blur(5px);
    opacity:0.7;
    overflow: hidden;
  }

  .list .Userfriend-:hover{
    filter: blur(0px);
    opacity:1;
    overflow: hidden;
  }